:global(.button) {
    display: inline-block;

    width: 8.5rem;
    padding: 1rem .5rem;

    background-color: var(--cor-quartenaria);

    border-radius: 6px;

    text-align: center;
    font-weight: 600;

    transition: .2s ease-in;
}

:global(.button):hover {
    background-color: rgb(255, 157, 158);

    transition: .4s ease-out;
}

/*Modificadores*/
:global(.button_m) {
    width: 11.25rem;
}