:global(.button) {
    display: inline-block;

    min-width: 8.5rem;
    width: fit-content;

    padding: .75rem;

    background-color: var(--cor-quartenaria);

    border-radius: 6px;

    text-align: center;
    font-weight: 600;

    cursor: pointer;

    transition: .2s ease-in;
}

:global(.button):hover {
    background-color: rgb(255, 157, 158);

    transition: .4s ease-out;
}

/*Modificadores*/
:global(.button_m) {
    min-width: 11.25rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    :global(.button) {
        min-width: 10.25rem;
        
        font-size: 1.125rem;
    }

    :global(.button_m) {
        padding: 1rem;

        min-width: 21.5rem;
    }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
    :global(.button_m) {
        padding: .75rem;
        
        min-width: 22.625rem;
    }
}