:global(.inputText) {
    /*vars*/
    --input-h-padding-left: 1.5rem;
    --input-h-padding-right: 2.5rem;

    --input-index: 1;
    --placeholder-index: calc(var(--input-index) + 1);
    --showText-index: var(--placeholder-index);

    --input-text-size: .75rem;
    /*end/vars*/

    display: grid;
    grid-template-areas: 
    "label"
    "input";
    grid-template-rows: auto 2.5rem;
    align-items: center;
}

/*2 ou mais items associados a uma mesma grid-area perdem seu flow(não reconhecem os limites "fisicos" de seus irmões)*/

:global(.inputText_label) {
    grid-area: label;

    margin-bottom: .5rem;

    text-align: center;

    font-size: 1rem;
    color: var(--cor-terciaria);
}

:global(.inputText_placeholder) {
    grid-area: input;

    text-align: center;

    padding-left: var(--input-h-padding-left);
    padding-right: var(--input-h-padding-right);

    font-size: var(--input-text-size);
    color: rgb(188, 188, 188) ;

    z-index: var(--placeholder-index);
}

:global(.inputText_showText) {
    grid-area: input;

    margin-left: auto;
    transform: translateX(-50%);

    z-index: var(--showText-index);
}

:global(.inputText_input) {
    grid-area: input;

    height: 100%;
    width: 100%;

    padding-left: var(--input-h-padding-left);
    padding-right: var(--input-h-padding-right);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    border-radius: 6px;
    background-color: rgb(247, 247, 247);

    font-size: var(--input-text-size);
    color: rgb(133, 133, 133);

    z-index: var(--input-index);
}

/*É necessario que o input tenha uma real placeholder(só preencher com um white-space)*/
/*É necessario que o input venha antes do "placholder artificial"*/
:global(.inputText_input):not(:placeholder-shown) + :global(.inputText_placeholder) {
    visibility: hidden;
}