:global(.toggle) {
    appearance: none;
    width: 1.1125rem;
    height: 1rem;
}

:global(.toggle.visibilidade) {
    width: 1.125rem;
    background-image: url(/src/assets/imagens/nao-visivel-icon.png);
    background-repeat: no-repeat;
}

:global(.toggle.visibilidade):checked {
    background-color: var(--cor-primaria);
}