@import "/src/styles/common/backgrounds/_bg-2.css)";

.cadastro {
    display: grid;
}

.cadastro > *:not(.formulario) {
    justify-self: center;
}

.logo {
    margin-bottom: 1.5rem;
}

.texto {
    margin-bottom: 1.5rem;

    text-align: center;

    color: var(--cor-primaria);
}

.texto :first-child {
    display: block;

    margin-bottom: .5rem;
}

.formulario {
    display: grid;
    row-gap: 1.5rem;
}

.cadastroButton {
    justify-self: center;
}