@import "styles/common/container.module.css";
@import "styles/common/texto.module.css";

/*Background*/
.login_bg {
    --bg-1-img-path: url("/public/assets/imagens/backgrounds/patas.png");
    --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2.png");
    --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-4.png");
    --bg-4-img-path: url("/public/assets/imagens/backgrounds/forma-1.png");
    --bg-img-path-bundle:
        var(--bg-1-img-path),
        var(--bg-2-img-path),
        var(--bg-3-img-path),
        var(--bg-4-img-path);

    --bg-1-pos: top right;
    --bg-2-pos: top left;
    --bg-3-pos: 0 22rem;
    --bg-4-pos: top left;
    --bg-pos-bundle:
        var(--bg-1-pos),
        var(--bg-2-pos),
        var(--bg-3-pos),
        var(--bg-4-pos);

    --bg-1-size: 10.5rem auto;
    --bg-2-size: auto;
    --bg-3-size: auto;
    --bg-4-size: auto;
    --bg-size-bundle:
        var(--bg-1-size),
        var(--bg-2-size),
        var(--bg-3-size),
        var(--bg-4-size)
}

.login_bg {
    background-image: var(--bg-img-path-bundle);
    background-repeat: no-repeat;
    background-position: var(--bg-pos-bundle);
    background-size: var(--bg-size-bundle);

    background-color: rgb(255, 255, 255);
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .login_bg {
        --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2-tablet.png");
        --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-3-tablet.png");
        --bg-4-img-path: url("/public/assets/imagens/backgrounds/forma-1-tablet.png");

        --bg-3-pos: center right;

        --bg-1-size: 17.25rem;
    }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
    .login_bg {
        --bg-1-size: 19.25rem;
    }
}
/*------*/

.login {
    display: grid;
    justify-content: center;
    align-content: flex-start;
}

.login>*:not(.formulario) {
    justify-self: center;
}

.logo {
    margin-bottom: 3.5rem;
}

.titulo {
    margin-bottom: 2.75rem;
}

.formulario {
    display: grid;
}

.formulario :global(.inputText) {
    margin-bottom: 1.5rem;
}

.formulario :global(.inputText):last-of-type {
    margin-bottom: .5rem;
}

.formulario>*:not(:global(.inputText)) {
    justify-self: center;
}

.recuperarSenha {
    color: var(--cor-quartenaria);

    text-decoration: underline;

    margin-bottom: 1.5rem;
}

.loginButton {}

/*Tablet*/
@media screen and (min-width: 768px) {

    .login {
        grid-template-columns: 21.5rem;
    }

    .logo,
    .titulo {
        margin-bottom: 2.5rem;
    }

    .formulario :global(.inputText):not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    .recuperarSenha {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .login {
        grid-template-columns: 32.625rem;
    }

    .logo {
        margin-bottom: 4rem;
    }

    .titulo {
        margin-bottom: 4.5rem;
    }

    .formulario {
        grid-template-columns: 1fr 21rem 1fr;
        justify-content: stretch;
    }

    .formulario>*:not(:global(.password)) {
        grid-column: 1 / 4;
    }

    .formulario :global(.password) {
        grid-column: 2 / 3;
    }

    .formulario :global(.inputText):last-of-type {
        margin-bottom: .875rem;
    }

    .recuperarSenha {
        margin-bottom: 1.875rem;
    }
}