@import "/src/styles/common/backgrounds/_bg-4.css";

.login {
    display: grid;
    align-content: flex-start;
}

.login > *:not(.formulario) {
    justify-self: center;
}

.logo {
    margin-bottom: 3.5rem;
}

.titulo {
    margin-bottom: 2.75rem;
}

.formulario {
    display: grid;
}

.formulario :global(.inputText) {
    margin-bottom: 1.5rem;
}

.formulario :global(.inputText):last-of-type {
    margin-bottom: .5rem;
}

.formulario > *:not(:global(.inputText)) {
    justify-self: center;
}

.recuperarSenha {
    color: var(--cor-quartenaria);

    text-decoration: underline;

    margin-bottom: 1.5rem;
}

.loginButton {

}

/*Tablet*/
@media screen and (min-width: 768px) {
    .formulario {
        width: 21.5rem;
        justify-self: center;
    }

    .logo, .titulo {
        margin-bottom: 2.5rem;
    }

    .formulario :global(.inputText):not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    .recuperarSenha {
        margin-bottom: 2.5rem;
    }
}

