@import "styles/common/container.module.css";
@import "styles/common/texto.module.css";

/*Background*/
@import "/src/styles/common/backgrounds/_bg-4.css";
/*------*/

.login {
    display: grid;
    justify-content: center;
    align-content: flex-start;
}

.login>*:not(.formulario) {
    justify-self: center;
}

.logo {
    margin-bottom: 3.5rem;
}

.titulo {
    margin-bottom: 2.75rem;
}

.formulario {
    display: grid;
}

.formulario :global(.inputText) {
    margin-bottom: 1.5rem;
}

.formulario :global(.inputText):last-of-type {
    margin-bottom: .5rem;
}

.formulario>*:not(:global(.inputText)) {
    justify-self: center;
}

.recuperarSenha {
    color: var(--cor-quartenaria);

    text-decoration: underline;

    margin-bottom: 1.5rem;
}

.loginButton {}

/*Tablet*/
@media screen and (min-width: 768px) {

    .login {
        grid-template-columns: 21.5rem;
    }

    .logo,
    .titulo {
        margin-bottom: 2.5rem;
    }

    .formulario :global(.inputText):not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    .recuperarSenha {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .login {
        grid-template-columns: 32.625rem;
    }

    .logo {
        margin-bottom: 4rem;
    }

    .titulo {
        margin-bottom: 4.5rem;
    }

    .formulario {
        grid-template-columns: 1fr 21rem 1fr;
        justify-content: stretch;
    }

    .formulario>*:not(:global(.password)) {
        grid-column: 1 / 4;
    }

    .formulario :global(.password) {
        grid-column: 2 / 3;
    }

    .formulario :global(.inputText):last-of-type {
        margin-bottom: .875rem;
    }

    .recuperarSenha {
        margin-bottom: 1.875rem;
    }
}