@import "styles/common/container.module.css";
@import "styles/common/texto.module.css";

/*Background*/
.contato_bg {
    --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1.png");
    --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2.png");
    --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-3-tablet.png");

    --bg-img-path-bundle: 
        var(--bg-1-img-path),
        var(--bg-2-img-path);
    
    --bg-1-pos: top left;
    --bg-2-pos: top left;
    --bg-3-pos: right center;

    --bg-pos-bundle: 
        var(--bg-1-pos),
        var(--bg-2-pos);
}

.contato_bg {
    background-image: var(--bg-img-path-bundle);

    background-repeat: no-repeat;
    background-position: var(--bg-pos-bundle);
    
    background-color: rgb(255, 255, 255);
}
/*------*/

.contato {
    display: grid;
    align-content: flex-start;
}

.titulo {
    justify-self: center;

    margin-bottom: 1.5rem;

    width: 16.625rem;
}

.formulario {
    display: grid;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.25rem;
    padding-bottom: 2rem;

    border-radius: 10px;

    background-color: var(--cor-quinaria);
}

.formulario > *:not(:global(.inputText)) {
    justify-self: center;
}

.formulario > *:not(:global(.inputText):last-of-type) {
    margin-bottom: 1rem;
}

.formulario :global(.inputText):last-of-type {
    margin-bottom: 2rem;
}

.formulario textarea {
    height: 10.5rem;

    max-height: 18rem;
}

.submitButton {
}

/*Tablet*/
@media screen and (min-width: 768px) {
    /*Background*/
    .contato_bg {
        --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1-tablet.png");
        --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2-tablet.png");

        --bg-img-path-bundle:
            var(--bg-1-img-path),
            var(--bg-2-img-path),
            var(--bg-3-img-path);

        --bg-pos-bundle: 
            var(--bg-1-pos),
            var(--bg-2-pos),
            var(--bg-3-pos);
    }
    /*------*/
    .contato_bg {
        background-color: rgb(255, 255, 255);
    }

    .contato {
        grid-template-columns: 32.75rem;
        justify-content: center;
    }

    .titulo {
        margin-bottom: 2.5rem;
    }

    .titulo {
        width: auto;
    }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
    .contato {
        grid-template-columns: 34.5rem;
    }

    .formulario {
        padding: 1.875rem 1.625rem;
    }
}