@import "styles/common/container.module.css";
@import "styles/common/texto.module.css";

/*Background*/
@import "/src/styles/common/backgrounds/_bg-3.css";
/*------*/

.contato {
    display: grid;
    align-content: flex-start;
}

.titulo {
    justify-self: center;

    margin-bottom: 1.5rem;

    width: 16.625rem;
}

.formulario {
    display: grid;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.25rem;
    padding-bottom: 2rem;

    border-radius: 10px;

    background-color: var(--cor-quinaria);
}

.formulario > *:not(:global(.inputText)) {
    justify-self: center;
}

.formulario > *:not(:global(.inputText):last-of-type) {
    margin-bottom: 1rem;
}

.formulario :global(.inputText):last-of-type {
    margin-bottom: 2rem;
}

.formulario textarea {
    height: 10.5rem;

    max-height: 18rem;
}

.submitButton {
}

/*Tablet*/
/*Background*/
@import "styles/common/backgrounds/_bg-2.css" screen and (min-width: 768px);

body {
    background-color: rgb(255, 255, 255);
}
/*------*/
@media screen and (min-width: 768px) {
    .contato {
        grid-template-columns: 32.75rem;
        justify-content: center;
    }

    .titulo {
        margin-bottom: 2.5rem;
    }

    .titulo {
        width: auto;
    }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
    .contato {
        grid-template-columns: 34.5rem;
    }

    .formulario {
        padding: 1.875rem 1.625rem;
    }
}