@import "styles/common/container.module.css";
@import "styles/common/texto.module.css";

/*Background*/
.home_bg {
    --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1.png");
    --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2.png");
    --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-3-tablet.png");

    --bg-img-path-bundle: 
        var(--bg-1-img-path),
        var(--bg-2-img-path);
    
    --bg-1-pos: top left;
    --bg-2-pos: top left;
    --bg-3-pos: right center;

    --bg-pos-bundle: 
        var(--bg-1-pos),
        var(--bg-2-pos);
}

.home_bg {
    background-image: var(--bg-img-path-bundle);

    background-repeat: no-repeat;
    background-position: var(--bg-pos-bundle);
    
    background-color: rgb(255, 255, 255);
}
/*------*/

.home {
    display: grid;
    align-content: flex-start;
}

.titulo {
    justify-self: center;

    margin-bottom: 2rem;

    width: 14.125rem;
}

.pets_cards {
    --columns: 1;
}

.pets_cards {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-flow: row;
    row-gap: 1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .home_bg {
        --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1-tablet.png");
        --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2-tablet.png");
    }

    .titulo {
        width: 26.35rem;
    }
    
    .pets_cards {
        --columns: 2;
    }
    
    .pets_cards {
        gap: 1rem;

        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .titulo span {
        display: block;
    }
}

/*Desktop*/

@media screen and (min-width: 1440px) {
    /*Background*/
    .home_bg {
        --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1-tablet.png");
        --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2-tablet.png");

        --bg-img-path-bundle:
            var(--bg-1-img-path),
            var(--bg-2-img-path),
            var(--bg-3-img-path);

        --bg-pos-bundle: 
            var(--bg-1-pos),
            var(--bg-2-pos),
            var(--bg-3-pos);
    }
    /*------*/

    .home:global(.main-v-padding-top) {
        padding-top: 6.875rem;
    }

    .titulo {
        margin-bottom: 2.5rem;
    }

    .pets_cards {
        --columns: 3;
    }

    .pets_cards {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 2.75rem;
    }
}