:global(.container-main) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*main-padding*/
:global(.padding-v-main) {
    padding-top: 20%;
    padding-bottom: 20%;
}

:global(.padding-top-main) {
    padding-top: 20%;
}

:global(.padding-bottom-main) {
    padding-bottom: 20%;
}

/*padding-primario*/
:global(.padding-v-primario) {
    padding-top: 6.25rem;
    padding-bottom: 1rem;
}

:global(.padding-top-primario) {
    padding-top: 6.25rem;
}

:global(.padding-bottom-primario) {
    padding-bottom: 1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {

    /*main-padding*/
    :global(.padding-v-main) {
        padding-top: 25%;
        padding-bottom: 25%;
    }

    :global(.padding-top-main) {
        padding-top: 25%;
    }

    :global(.padding-bottom-main) {
        padding-bottom: 25%;
    }

    /*padding-primario*/
    :global(.padding-v-primario) {
        padding-top: 12.25rem;
        padding-bottom: 2rem;
    }

    :global(.padding-top-primario) {
        padding-top: 12.25rem;
    }

    :global(.padding-bottom-primario) {
        padding-bottom: 2rem;
    }
}

/*Desktop*/
@media screen and (min-width: 1440px) {

    /*main-padding*/
    :global(.padding-v-main) {
        padding: 1.25rem;
    }

    :global(.padding-top-main) {
        padding-top: 1.25rem;
    }

    :global(.padding-bottom-main) {
        padding-top: 1.25rem;
    }

    /*padding-primario*/
    :global(.padding-v-primario) {
        padding-top: 6.875rem;
        padding-bottom: 2rem;
    }

    :global(.padding-top-primario) {
        padding-top: 6.875rem;
    }

    :global(.padding-bottom-primario) {
        padding-bottom: 2rem;
    }
}