:global(.texto-primario) {
    color: var(--cor-primaria);

    line-height: 1.25rem;
}

/*text-position*/
:global(.texto-left) {
    text-align: left;
}

:global(.texto-rigth) {
    text-align: right;
}

:global(.texto-center) {
    text-align: center;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    :global(.texto-primario) {
        line-height: 1.75rem;
        
        font-size: 1.25rem;
    }
}