:global(.texto-primario) {
    color: var(--cor-primaria);

    line-height: 1.25rem;
}

:global(.texto-left) {
    text-align: left;
}

:global(.texto-rigth) {
    text-align: right;
}

:global(.texto-center) {
    text-align: center;
}