@media screen and (min-width: 768px) {
    .mobile_only {
        display: none;
    }      
}

/*Tablet-only*/
@media screen and (max-width: 767px) {
    .tablet_only {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .tablet_only {
        display: none;
    }      
}

/*Quando for tablet*/
@media screen and (max-width: 767px) {
    .when_tablet_only {
        display: none;
    }
}