@import "/src/styles/common/backgrounds/_bg-2.css";

.inicio {
    --grid-container-width: 15.5rem;
}

.inicio {
    display: grid;
    grid-template-columns: var(--grid-container-width);
    align-content: flex-start;
    justify-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-image: url("/public/assets/Ilustração-1.png");
    background-repeat: no-repeat;
    background-position: 50% 104%;
    background-size: 15.625rem auto;
}

.logo {
    margin-bottom: 2.2rem;

    width: 11.56rem;
}

.titulo {
    margin-bottom: 1.75rem;

    font-family: var(--font-secundaria);
    font-size: 1.625rem;
    font-weight: 500;
}

.texto {
    margin-bottom: 1.5rem;

    text-align: center;

    line-height: 1.5rem;
}

:global(.button):not(:last-child) {
    margin-bottom: 1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .inicio {
        --grid-container-width: 21.5rem;

        background-size: 21rem auto;
    }

    .logo {
        margin-bottom: 3.125rem;

        width: 14.625rem;
        height: 4.4rem;
    }

    .titulo {
        margin-bottom: 2.125rem;

        font-size: 1.75rem;
    }

    .texto {
        margin-bottom: 2.375rem;

        font-size: 1.125rem;

        line-height: 1.625rem;
    }
}