@import "styles/utils/device-only.css";
@import "styles/common/container.module.css";
@import "styles/components/button.module.css";

/*Background*/
.inicio_bg {
    --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1.png");
    --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2.png");
    --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-3.png");
    --bg-img-path-bundle: 
        var(--bg-1-img-path),
        var(--bg-2-img-path),
        var(--bg-3-img-path);
}

.inicio_bg {
    background-image: var(--bg-img-path-bundle);
        
    background-repeat: no-repeat;
    background-position: top left, top left, center right;

    background-color: var(--cor-primaria);
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .inicio_bg {
        --bg-1-img-path: url("/public/assets/imagens/backgrounds/forma-1-tablet.png");
        --bg-2-img-path: url("/public/assets/imagens/backgrounds/forma-2-tablet.png");
        --bg-3-img-path: url("/public/assets/imagens/backgrounds/forma-3-tablet.png");
    }
}
/*------*/

.inicio {
    --grid-container-width: 15.5rem;
}

.inicio {
    display: grid;
    grid-template-columns: var(--grid-container-width);
    align-content: flex-start;
    justify-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-image: url("/public/assets/imagens/backgrounds/Ilustração-1.png");
    background-repeat: no-repeat;
    background-position: 50% 105%;
    background-size: 15.625rem auto;
}

.logo {
    margin-bottom: 2.2rem;

    width: 11.56rem;
}

.titulo {
    margin-bottom: 1.75rem;

    font-family: var(--font-secundaria);
    font-size: 1.625rem;
    font-weight: 500;
}

.texto {
    margin-bottom: 1.5rem;

    text-align: center;

    line-height: 1.5rem;
}

:global(.button):not(:last-child) {
    margin-bottom: 1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    .inicio {
        --grid-container-width: 21.5rem;

        background-size: 21rem auto;
    }

    .logo {
        margin-bottom: 3.125rem;

        width: 14.625rem;
        height: 4.4rem;
    }

    .titulo {
        margin-bottom: 2.125rem;

        font-size: 1.75rem;
    }

    .texto {
        margin-bottom: 2.375rem;

        font-size: 1.125rem;

        line-height: 1.625rem;
    }
}

@media screen and (min-width: 1440px) {
    .inicio {
        --grid-container-width: 30.5rem;
    }

    .logo {
        margin-bottom: 2.4rem;
    }

    .titulo {
        margin-bottom: 1.4rem;

        font-size: 1.75rem;
    }

    .texto {
        margin-bottom: 2rem;
    }
}