.header {
    padding-left: 3rem;
    padding-right: 3rem;
}

.header_nav {
    display: flex;
    align-items: center;
    column-gap: 3.625rem;
    
    margin-top: 2.5rem;
}

.header_nav ul {
    display: inline-flex;
    column-gap: 3.625rem;
}

.header_nav :last-child {
    margin-left: auto;
}