*, ::before, ::after {
    box-sizing: border-box;

    margin: 0;
    border: none;
    outline: none;
    padding: 0;

    font: inherit;
    vertical-align: baseline;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

:visited {
    color: inherit;
}

ul, ol {
    list-style: none;
}