:root {
    /*Cores*/
    --cor-primaria: rgb(55, 114, 255);
    --cor-secundaria: rgb(54, 214, 173);
    --cor-terciaria: rgb(115, 115, 128);
    --cor-quartenaria: rgb(252, 112, 113);

    /*Fonts*/
    --font-primaria: 'Poppins', Helvetica, sans-serif;
    --font-secundaria: 'IBM Plex Sans', Helvetica, sans-serif;
}